
<p><strong>SNU-Arduino</strong> Currently Have:</p>
<ul>
  <li><%= pluralize(User.all.count, 'Member') %></li>
  <li>XXX Ongoing Projects </li>
  <li>XXX Completed Projects </li>
  <li>XXX Assigments Accomplished </li>
</ul>



